<div class="container-fluid w-75 mt-5">
    <h1>Crear Nuevo Administrador</h1>
    <form #ngForm=ngForm [formGroup]='registroForm' class="bg-dark text-white p-3">
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputName">
          Nombre:
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="inputName" formControlName="nombre" placeholder="Ingrese nombre" required>
          <p *ngIf='ngForm.submitted && registroForm.controls.nombre.errors' class="text-danger">No se asignó un nombre</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputLastname">
          Apellido:
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="inputLastname" formControlName="apellido" placeholder="Ingrese apellido" required>
          <p *ngIf='ngForm.submitted && registroForm.controls.apellido.errors' class="text-danger">No se asignó un apellido</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputFecha">
          Fecha de Nacimiento:
        </label>
        <div class="col-md-9">
          <input type="date" class="form-control" id="inputFecha" formControlName="nacimiento" required min="1900-01-01" [max]="fechaHoy()">
          <p *ngIf='ngForm.submitted && registroForm.controls.nacimiento.errors' class="text-danger">No se asignó una fecha de nacimiento</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputDni">
          DNI:
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="inputDni" formControlName="dni" placeholder="Ingrese DNI" required>
          <p *ngIf='ngForm.submitted && registroForm.controls.dni.errors' class="text-danger">No se asignó un dni</p>
          <p *ngIf="ngForm.submitted && registroForm.controls.dni.errors?.minlength" class="text-danger">No se puede agregar menos de 8 números</p>
          <p *ngIf="ngForm.submitted && registroForm.get('dni')?.hasError('estaMal')" class="text-danger">Ingrese solo números</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputImg">
          Imágenes:
        </label>
        <div class="col-md-9">
          <p *ngIf='registroForm.value.img1 != "" ' class="text-success">Imagen Seleccionada</p>
          <div class="custom-file form-control">
            <input #fileInp type="file" multiple name="imagen" accept='image/*' id="inputImg" class="custom-file-input" (change)='agregarImagen($event.target.files)' required>
          </div>
          <p *ngIf='(ngForm.submitted && (cantImagenes !== 1)) || (cantImagenes !== 1 && cantImagenes !== -1)' class="text-danger">No se asignó la imagen.</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label">Email</label>
        <div class="col-md-9">
          <input type="email" class="form-control" formControlName='email' autocomplete="username" required>
        <p *ngIf='submit && registroForm.controls.email.errors' class="text-danger">No se ingreso una cuenta de Email</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label">Contraseña</label>
        <div class="col-md-9">
          <input type="password" class="form-control" formControlName='pass' autocomplete="new-password" required>
        <p *ngIf='submit && registroForm.controls.pass.errors' class="text-danger">No se ingreso una contraseña</p>
        </div>
      </div>
      <br>
      <!-- <div class="form-group">
        <app-capcha (valorCaptcha)='registroForm.controls.captcha.setValue($event)'></app-capcha>
        <p *ngIf='submit && registroForm.controls.captcha.errors' class="text-danger">No se verifica el captcha</p>
      </div> -->
      <br>
      <div class="form-group clearfix">
        <button type="submit" class="btn btn-success float-right" (click)='registrarAdmin(registroForm)'>Registrar</button>
      </div>
      <p *ngIf='creado !== null' [ngClass]='{"text-success":creado, "text-danger":!creado, "text-center":true}'>{{mensajeSubmit}}</p>
    </form>
</div>
