<head>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
      function onSubmit(token) {
        document.getElementById("demo-form").submit();
      }
    </script>
  </head>
  <mat-toolbar style="background-color: #306881; color: white;" class="expanded-toolbar">
      
        Iniciar Sesión
    </mat-toolbar>
    <div class="contenedor">
      <mat-card class="container ld ld-blur-in">
        
        <div mat-card-avatar class="example-header-image"></div>
        <form class="example-form">
          <div>
            <img src="../../../assets/imagenes/paciente.png" class ="imgRedonda" (click)="Paciente()">
            <img src="../../../assets/imagenes/medico.png" class="imgRedonda" (click)="Medico()">
            <img src="../../../assets/imagenes/medico.png" class="imgRedonda" (click)="Medico2()">
            <img src="../../../assets/imagenes/admin.png" class="imgRedonda" (click)="Admin()">
          </div>
          <br>
          <mat-form-field style="width: 100%;" class="full-width-input">
            <mat-label  style="color: #306881;" >Email</mat-label>
            <input  style="color: black;" matInput type="email" [(ngModel)]="email" name="email">
          </mat-form-field>
          <mat-form-field style="width: 100%;"  class="full-width-input">
            <mat-label  style="color: #306881;">Contraseña</mat-label>
            <input style="color: black;" matInput type="password" [(ngModel)]="clave" name="psw">
          </mat-form-field>
          <br>
          <div class="recaptcha">
            <re-captcha (resolved)="resolved($event)" [(siteKey)]="this.siteKey"></re-captcha>
          </div>
          <!-- <button style="margin-top: 2rem;width: 100%;" class="btn btn-block"   mat-raised-button color="primary"  (click)="Entrar()">Ingresar</button> -->
          <button [disabled]="!recaptcha" style="margin-top: 2rem;width: 100%;" class="btn btn-block"   mat-raised-button color="primary"  (click)="Entrar()">Ingresar</button>
        </form>
        <br>
        <h3>¿No tenés usuario?  <a href="/registro">Registrate</a></h3>
      </mat-card>
    </div>