<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]='Authserv.isLoggedIn ?"/Principal":""'>CLÍNICA MÉDICA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div *ngIf='Authserv.isLoggedIn' class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Listados">
            Listados
          </a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/Turnos">
            Turnos
          </a>
        </li>
        <li *ngIf='usuario !== null && usuario.rol === "Admin"' class="nav-item active">
          <a class="nav-link" routerLink="/Informes">
            Informes
          </a>
        </li> -->
      </ul>
    </div>

    <div *ngIf='(Authserv.isLoggedIn && usuario !== null) || !Authserv.isLoggedIn' class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <ng-container *ngIf='usuario === null; else registrado'>
          <li class="nav-item">
            <a class="nav-link" routerLink='/Login'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/Registro'>Registro</a>
          </li>
        </ng-container>
        <ng-template #registrado>
        <li class="nav-item dropdown">
          
          <!-- <span *ngIf='notifs > 0' class="badge badge-danger align-text-top">!</span><i class="fa fa-cog" aria-hidden="true"></i> -->
          <!-- <a> <img *ngIf='usuario.hasOwnProperty("imagen1")' class="img-thumbnail" [src]="usuario.imagen1" width="50"> </a> -->
          <button *ngIf='usuario.rol === "Admin"' type="button" class="btn btn-dark" routerLink='/Alta-Admin'>Agregar Administradores</button>
          <button type="button" class="btn btn-dark" (click)='tryCerrarSesion()'>Cerrar Sesión</button> 
          
     
          
        </li>
        </ng-template>
      </ul>
    </div>
    <div *ngIf='Authserv.isLoggedIn &&usuario === null' class="spinner-border spinner-border-sm text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </nav>
  